*{
    background-color: aquamarine ;
    margin:5px;
    background-size: auto;
    
}
#footer{
    
}
#header{
    display: flex;
}
.foody{
    height: 80px;
    width: 30%;

    
}

h3 {
    display: inline;
    font-size: xx-small;
    color: rgb(252, 113, 0);
    margin-left: 20px;
    text-decoration: underline;
    
}
#subheading{
    width: 60%;
    font-size: 25px;
    text-align: justify;
    height: 100px;
    margin-left: 25px;
}
button {
    margin-left: 70px;
    background-color: coral;
    font-size: 16px;
    padding:8px 10px ;
    display: inline-block;
    color: white;
    border-radius: 80px;
    border: black;
}
#mao{
color: rgb(0, 0, 0);
float: right;

}