*{
    background;
    background-color: aqua;
    margin: 2px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div h1 {
    text-align: center;
}
.mypic {
    
    margin: 2%;
    size: 20% ;
}
.entrytxt {
    border: aqua;
    border-radius: 4px;
    margin-top: 5%;
    margin-left: 5%;
    margin right: 5%;
    margin-bottom: 5%
    
}
div footer {
    
    display: flex;

}